<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex gap-2 align-items-center">
        <img src="/img/favicon.png" alt="E-commerce Logo" style="width: 48px;">
        <a class="navbar-brand" href="/">MyEcommerce</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/realTimeProducts">RealTimeProducts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/carts">Carritos</a>
        </li>
      </ul>

    <div class="d-flex">
      <button
        type="button"
        class="btn d-flex align-items-center gap-2 bg-primary text-white"
        id="addNewCartBtn"
      >
        <i class="bi bi-plus-square-fill fs-4 text-white"></i>
        <p class="fs-5 m-0">Agregar nuevo carrito</p>
      </button>

    </div>

  </div>
</nav>
<div class="container-fluid">
  <div class="container-fluid">

    <form class="my-3">
      <select
        class="form-select"
        aria-label="select cart"
        name="cartSelect"
        id="cartSelect"
      >
        <option value="-1" default disabled>Elije un carrito</option>
        {{#each carts}}
          <option value={{this._id}}>{{this._id}}</option>
        {{/each}}
      </select>
    </form>

    <div class="container">
      <table class="table" id="productTable">
        <thead>
          <tr class="table-primary">
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="productTableTbody">
          {{#each cartProducts}}
            <tr id="id-{{this.id}}">
              <td><img
                  src="{{lookup this.product.thumbnails 0}}"
                  alt="{{this.product.name}}"
                  style="width: 80px; height: 80px;"
                /></td>
              <td>{{this.product.title}}</td>
              <td>${{this.product.price}}</td>
              <td>
                <input
                  id="productQuantity"
                  value={{this.quantity}}
                  type="number"
                  onchange="modifyQuantity(event, '{{this.product._id}}')"
                />
              </td>
              <td>${{this.subtotal}}</td>
              <td><button
                  class="btn btn-danger"
                  onclick="deleteProduct('{{this.product._id}}')"
                >Borrar</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="w-100">
        <p class="fs-2 text-end">Total: <span id="totalToPay">${{cartProducts.totalToPay}}</span></p>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-lg">Realizar pago</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>