<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/products">MyCommerce</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div>
      <a class="btn" href="/carts">
        <i class="bi bi-cart3 fs-4"></i>
      </a>

    </div>

  </div>
</nav>

<div class="container-fluid">
  <form class="d-flex my-3 gap-1" id="productQueryForm">
    <div class="input-group">
      <div class="input-group-text">
        <i class="bi bi-search"></i>
      </div>
      <input
        class="form-control"
        type="search"
        placeholder="Buscar producto"
        aria-label="Search"
        id="productFilter"
        name="filter"
        default=""
      />
    </div>

    <select
      class="form-select"
      aria-label="select product category"
      name="searchByCategory"
      id="searchByCategory"
      default="all"
    >
      <option value="">Seleccionar categoría</option>
      {{#each products.categories}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>

    <select
      class="form-select"
      aria-label="sort product"
      id="sortProducts"
      name="sort"
      default="none"
    >
      <option value="">Ordenar por precio</option>
      <option value="asc">Mayor precio</option>
      <option value="desc">Menor precio</option>
    </select>

    <select
      class="form-select form-select-sm"
      aria-label="Products Per Page"
      id="productsPerPage"
      name="limit"
      default="10"
    >
      <option value="">Productos por página</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <button class="btn btn-primary" type="submit">Filtrar</button>
  </form>

  <div class="container">
    <div class="row gy-2 justify-content-center">

      {{#each products.payload}}
        <div
          class="card d-flex flex-column col-4 mx-2"
          style="width: 18rem; height: 420px"
        >
          <img
            src={{lookup this.thumbnails 0}}
            class="card-img-top bg-light mt-2"
            alt="{{this.title}}"
            style="min-height: 200px; height: 200px;"
          />
          <div class="card-body flex-grow-1">

            <p
              class="card-text mb-1 text-secondary product-category"
            >{{this.category}}</p>

            <h5 class="card-title mb-1 product-name">{{this.title}}</h5>
            <p class="card-text mb-1 product-stock"><span class="fst-italic">In
                stock:</span>
              {{this.stock}}</p>
            <p
              class="card-text mb-1 text-success product-price"
            >${{this.price}}</p>
          </div>

          <a href="/product/{{this._id}}" class="btn btn-primary mb-3 w-100">Ver
            más</a>

        </div>

      {{/each}}
    </div>

    <div class="d-flex justify-content-center my-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">

          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="/products?limit=10&page={{products.prevPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{/if}}

          {{#each products.links}}
            <li class="page-item"><a
                class="page-link"
                href={{this.link}}
              >{{this.text}}</a></li>
          {{/each}}

          {{#if products.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="/products?limit=10&page={{products.nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="/js/query.js"></script>