<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">MyCommerce</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <form
      class="d-flex align-items-center mb-0 justify-item-center flex-grow-1"
      role="search"
      style="max-width: 75%;"
    >
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-search"></i>
        </div>
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar producto"
          aria-label="Search"
        />
      </div>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div>
      <button type="button" class="btn">
        <i class="bi bi-cart3 fs-4"></i>
      </button>

    </div>

  </div>
</nav>

<div class="container-fluid">
  <div class="d-flex gap-1 my-3">
    <div class="flex-grow-1 d-flex gap-1 align-items-center w-75">
      <p class="m-0">Categorias: </p>
      <div class="d-flex flex-wrap gap-1">
        {{#each products.categories}}
          <button
            class="badge text-bg-light"
            style="cursor: pointer;"
            onclick="updateQuery('{{this}}')"
          >{{this}}</button>
        {{/each}}
        <span>|</span>
        <button class="badge text-bg-success" onclick="updateQuery('all')">Todas
          las categorias</button>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2 ms-2">

      <form action="" class="mb-0 d-flex gap-2">
        <label for="productsPerPage">
          Productos por página
        </label>
        <select
          class="form-select form-select-sm"
          aria-label="Products Per Page"
          id="productsPerPage"
        >
          <option value="10" selected>10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row gy-2 justify-content-center">

      {{#each products.payload}}
        <div
          class="card d-flex flex-column col-4 mx-2"
          style="width: 18rem; height: 420px"
        >
          <img
            src={{lookup this.thumbnails 0}}
            class="card-img-top bg-light mt-2"
            alt="{{this.title}}"
            style="min-height: 200px; height: 200px;"
          />
          <div class="card-body flex-grow-1">
            <p class="card-text mb-1 text-secondary">{{this.category}}</p>
            <h5 class="card-title mb-1">{{this.title}}</h5>
            <p class="card-text mb-1">In stock: {{this.stock}}</p>
            <p class="card-text mb-1 text-success fw-bold">${{this.price}}</p>
          </div>
        </div>

      {{/each}}
    </div>

    <div class="d-flex justify-content-center my-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{#each products.links}}
            <li class="page-item"><a
                class="page-link"
                href={{this.link}}
              >{{this.text}}</a></li>
          {{/each}}

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>