<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex gap-2 align-items-center">
        <img src="/img/favicon.png" alt="E-commerce Logo" style="width: 48px;">
        <a class="navbar-brand" href="/">MyEcommerce</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/realTimeProducts">RealTimeProducts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/carts">Carritos</a>
        </li>
      </ul>

    <div>
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        onclick="openCreateModal()"
      >
        <i class="bi bi-plus-square-fill fs-2 text-primary"></i>
      </button>

      <a class="btn" href="/carts">
        <i class="bi bi-cart3 fs-4"></i>
      </a>

    </div>

  </div>
</nav>

<div class="container-fluid">

  <form class="d-flex my-3 gap-1" id="productQueryForm">
    <div class="input-group">
      <div class="input-group-text">
        <i class="bi bi-search"></i>
      </div>
      <input
        class="form-control"
        type="search"
        placeholder="Buscar producto"
        aria-label="Search"
        id="productFilter"
        name="filter"
        default=""
      />
    </div>

    <select
      class="form-select"
      aria-label="select product category"
      name="searchByCategory"
      id="searchByCategory"
      default="all"
    >
      <option value="">Seleccionar categoría</option>
      {{#each products.categories}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>

    <select
      class="form-select"
      aria-label="sort product"
      id="sortProducts"
      name="sort"
      default="none"
    >
      <option value="">Ordenar por precio</option>
      <option value="asc">Mayor precio</option>
      <option value="desc">Menor precio</option>
    </select>

    <select
      class="form-select form-select-sm"
      aria-label="Products Per Page"
      id="productsPerPage"
      name="limit"
      default="10"
    >
      <option value="">Productos por página</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <button class="btn btn-primary" type="submit">Filtrar</button>
  </form>

  <div class="container">
    <div class="row gy-2 justify-content-center" id="product-card-wrapper">

      {{#each products.payload}}
        <div
          class="card d-flex flex-column col-4 mx-2"
          style="width: 18rem; height: 420px"
          id=id-{{this._id}}
        >
          <img
            src={{lookup this.thumbnails 0}}
            class="card-img-top bg-light mt-2"
            alt="{{this.title}}"
            style="min-height: 200px; height: 200px;"
          />
          <div class="card-body flex-grow-1">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text mb-1 text-secondary product-category">{{this.category}}</p>
              <div>
                <button class="btn p-1" onclick="openEditModal({{json this}})">
                  <i class="bi bi-pencil-square fs-5 text-primary"></i>
                </button>

                <button class="btn p-1" onclick="deleteProduct('{{this._id}}')">
                  <i class="bi bi-trash fs-5 text-danger"></i>
                </button>
              </div>
            </div>
            <h5 class="card-title mb-1 product-name">{{this.title}}</h5>
            <p class="card-text mb-1 product-stock">In stock: {{this.stock}}</p>
            <p class="card-text mb-1 text-success fw-bold product-price">${{this.price}}</p>
          </div>
          <div class="mb-3 d-flex justify-content-between w-100">
            <a href="/product/{{this._id}}" class="btn btn-primary w-100">Ver más</a>
          </div>
        </div>

      {{/each}}
    </div>

    <div class="d-flex justify-content-center my-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {{#if products.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href="/products?limit=10&page={{products.prevPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{/if}}

          {{#each products.links}}
            <li class="page-item"><a
                class="page-link"
                href={{this.link}}
              >{{this.text}}</a></li>
          {{/each}}

          {{#if products.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href="/products?limit=10&page={{products.nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="productModal"
  tabindex="-1"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Agregar nuevo producto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form id="productForm">

          <div class="mb-3">
            <label for="title" class="form-label">Nombre del producto</label>
            <input
              type="text"
              class="form-control"
              id="productTitle"
              name="title"
              aria-describedby="title"
              required
            />
            <p id="titleErrMsg" class="d-none"></p>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descripción del producto</label>
            <input
              type="text"
              class="form-control"
              id="productDescription"
              name="description"
              aria-describedby="description"
              required
            />
            <p id="descriptionErrMsg" class="d-none"></p>
          </div>

          <div class="row">
            <div class="mb-3 col">
              <label for="code" class="form-label">Código del producto</label>
              <input
                type="text"
                class="form-control"
                id="productCode"
                name="code"
                aria-describedby="code"
                placeholder="ej.: AA-588-2525"
                required
              />
              <p id="codeErrMsg" class="d-none"></p>
            </div>

            <div class="mb-3 col">
              <label for="price" class="form-label">Precio del producto</label>
              <div class="input-group">
                <div class="input-group-text">$</div>
                <input
                  type="text"
                  class="form-control"
                  id="productPrice"
                  name="price"
                  value=""
                  aria-describedby="price"
                  onblur="this.value = this.value != '' ? (/\.\d{2}/.test(this.value) ? this.value : /\.\d+/.test(this.value) ? this.value + '0' : this.value + '.00') : ''"
                  required
                />
              </div>
            </div>
            <p id="priceErrMsg" class="d-none"></p>
          </div>

          <div class="row d-flex align-items-center">

            <div class="mb-3 col-8">
              <label for="stock" class="form-label">Stock del producto</label>
              <input
                type="number"
                class="form-control"
                id="productStock"
                name="stock"
                aria-describedby="stock"
                required
              />
              <p id="stockErrMsg" class="d-none"></p>
            </div>

            <div class="d-flex flex-column gap-3 col-3">
              <div class="form-check d-flex">
                <input
                  class="form-check-input"
                  type="radio"
                  name="status"
                  id="statusFalse"
                  value="true"
                  checked
                />
                <label class="form-check-label ms-2" for="statusFalse">
                  Habilitado
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="status"
                  id="statusFalse"
                  value="false"
                />
                <label class="form-check-label" for="statusFalse">
                  Deshabilitado
                </label>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Categoría del producto</label>
            <input
              type="text"
              class="form-control"
              id="productCategory"
              name="category"
              aria-describedby="category"
              placeholder="ej.: Tecnología"
              required
            />
            <p id="categoryErrMsg" class="d-none"></p>
          </div>

          <div class="mb-3">
            <label for="thumbnail" class="form-label">Imagen del producto</label>
            <input
              type="text"
              class="form-control"
              id="productThumbnails"
              name="thumbnails"
              aria-describedby="thumbnail"
              placeholder="http://example.com/imagen.png"
              required
            />
            <p id="thumbnailsErrMsg" class="d-none"></p>
          </div>

          <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100 mt-1">Guardar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>
<script src="/js/query.js"></script>