<div>
  <h1 class="text-center my-3">Lista de productos</h1>
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col"></th>
          <th scope="col">Producto</th>
          <th scope="col">Categoría</th>
          <th scope="col">Stock</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td><img src="{{firstThumbnail this.thumbnails}}" alt="{{this.name}}" style="width: 80px; height: 80px;"></td>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.stock}}</td>
            <td>${{this.price}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>