<div>
  <h1 class="w-100 text-center mb-5">Real Time Products</h1>

  <div class="d-flex justify-content-end mb-3">
    <button
      type="button"
      class="btn btn-primary me-3"
      data-bs-toggle="modal"
      data-bs-target="#addNewProductModal"
    >
      + Agregar producto
    </button>
  </div>

  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col"></th>
        <th scope="col">Producto</th>
        <th scope="col">Categoría</th>
        <th scope="col">Stock</th>
        <th scope="col">Precio</th>
        <th scope="col">Status</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td><img src="{{firstThumbnail this.thumbnail}}" alt="{{this.name}}" style="width: 80px; height: 80px;"></td>
          <td>{{this.title}}</td>
          <td>{{this.category}}</td>
          <td>{{this.stock}}</td>
          <td>${{this.price}}</td>
          <td>
            {{#if this.status}}
              <span class="badge text-bg-success">Habilitado</span>
            {{else}}
              <span class="badge text-bg-danger">Deshabilitado</span>
            {{/if}}
          </td>
          <td><button
              class="btn btn-danger"
              onclick="deleteProduct({{this.id}})"
            >Borrar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div
    class="modal fade"
    id="addNewProductModal"
    tabindex="-1"
    aria-labelledby="addNewProductModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar nuevo producto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="newProductForm">
            <div class="mb-3">
              <label for="title" class="form-label">Nombre del producto</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                aria-describedby="title"
              />
              <p id="titleErrMsg" class="d-none"></p>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Descripción del
                producto</label>
              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                aria-describedby="description"
              />
              <p id="descriptionErrMsg" class="d-none"></p>
            </div>

            <div class="row">
              <div class="mb-3 col">
                <label for="code" class="form-label">Código del producto</label>
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  name="code"
                  aria-describedby="code"
                />
                <p id="codeErrMsg" class="d-none"></p>
              </div>

              <div class="mb-3 col">
                <label for="price" class="form-label">Precio del producto</label>
                <div class="input-group">
                  <div class="input-group-text">$</div>
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                    aria-describedby="price"
                  />
                </div>
              </div>
              <p id="priceErrMsg" class="d-none"></p>
            </div>

            <div class="row d-flex align-items-center">

              <div class="mb-3 col-8">
                <label for="stock" class="form-label">Stock del producto</label>
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                  aria-describedby="stock"
                />
                <p id="stockErrMsg" class="d-none"></p>
              </div>

              <div class="d-flex flex-column gap-3 col-3">
                <div class="form-check d-flex">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="statusFalse"
                    value="false"
                    checked
                  />
                  <label class="form-check-label ms-2" for="statusFalse">
                    Habilitado
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="statusFalse"
                    value="false"
                  />
                  <label class="form-check-label" for="statusFalse">
                    Deshabilitado
                  </label>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="category" class="form-label">Categoría del producto</label>
              <input
                type="text"
                class="form-control"
                id="category"
                name="category"
                aria-describedby="category"
              />
              <p id="categoryErrMsg" class="d-none"></p>
            </div>

            <div class="mb-3">
              <label for="thumbnail" class="form-label">Imágen del producto</label>
              <input
                type="text"
                class="form-control"
                id="thumbnails"
                name="thumbnails"
                aria-describedby="thumbnail"
              />
              <p id="thumbnailsErrMsg" class="d-none"></p>
            </div>

            <div class="w-100 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary w-100 mt-1">Crear
                producto</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>